{%extends 'WebPayments/base.html'%}
{%block contenido%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Empresa de Turismo - City Tours</title>
</head>
<body>

  <br><br>

  <div class="container">
  <div class="row justify-content-center">
    <h2 class="font-weight-bold">Lugares turisticos del Peru</h2>  
  </div>
    <div class="justify-content-center">
      <p>Hoy, en City Tours, vamos a viajar al sur de América donde existe un país legendario que posee: fastuosos centros arqueológicos, mágicos sitios naturales y paisajísticos, majestuosos templos precolombinos y coloniales, ancestrales palacios pre incas e incas, extraordinarios conventos y casonas coloniales, excelentes aguas termo-medicinales, pueblos tradicionales, milenaria cultura, exquisita gastronomía, fina textilería, variada artesanía… y la más grande cultura viva de América.
      </p>
      <img src="{%static 'WebPayments/img/logo.jpg'%}" class="responsive-img"  alt="logo"> 
    </div> 

      <br><br><br>

      <div>
          <h4>Machu Picchu, Cusco</h4>
            <p>El Santuario Histórico de Machu Picchu es el destino turístico más visitado de Perú y de América. 
            Es una antigua ciudad inca que está ubicado en el corazón de los andes peruanos. Fue construido en el siglo XV, 
            durante la época inca. Se cree que esta ciudad sagrada fue un importante lugar de culto religioso y de descanso 
            durante el reinado del Inca Pachacuteq.
            El año 2007, Machu Picchu fue declarado una de las 7 maravillas del mundo moderno.
            La llacta inca de Machu Picchu posee la más impresionante arquitectura inca. Pues la ciudad acoge innumerables 
            edificaciones de piedra, entre los que sobresalen: la Casa del Guardián, la Plaza Sagrada, el Reloj Solar, el
            Templo del Sol, el Templo del Cóndor, la Roca Sagrada, etc.
            En los alrededores de la ciudad inca también están ubicados las montañas Machu Picchu y Huayna Picchu. Asimismo,
            hasta este lugar llega el Camino Inca, una de las rutas más famosas de trekking.</p>
        <img src="{%static 'WebPayments/img/img1.jpg'%}" class="responsive-img" width="600px" height="300px">
            <br><br>
      </div>

<div id="colca">
<H4>Valle del Colca, Arequipa</H4>
  <p>El Valle del Colca es un extenso valle de tierras fértiles que bordea el río Colca. También es conocido como el Valle del Fuego. Es otro de los más importantes atractivos del Perú; pues aquí están ubicados el Cañón del Colca (uno de los cañones más profundos del mundo), los Baños Termales de la Calera y el famoso mirador la Cruz del Cóndor, donde podrás apreciar el vuelo de los cóndores.
  El Valle de Colca también sobresale por: la belleza de sus paisajes y escenarios naturales, las costumbres y tradiciones de sus pueblos, su variada flora y fauna, y por los diversos complejos arqueológicos pre incas e incas que acoge en su extenso valle.
  </p>
  
   <img src="{%static 'WebPayments/img/valledel colca.jpg'%}" class="responsive-img" width="600px" height="300px">
<br>
<br>

</div>

  <H4>Líneas de Nazca, Ica</H4>
  
  <p>Las Líneas de Nazca son un grupo de antiguos geoglifos grabados en la arena del desierto. Están ubicados en el Valle de Nazca, Valle de Palpa y en el desierto de Jumana. Estos enigmáticos geoglifos fueron creados por los hombres de la Cultura Nazca (200 a.C. – 700 d.C.) y se extienden sobre una superficie de 450 Km².

  El tamaño de los geoglifos oscila entre 50 y 300 metros y tienen variados formas: figuras geométricas, zoomorfas, fitomorfas y antropomorfas. Y entre las líneas y geoglifos más famosos podemos mencionar: colibrí, mono, pájaro fragata, pájaro gigante, araña.</p>
<img src="{%static 'WebPayments/img/lineasdenazca.jpg'%}" class="responsive-img" width="600px" height="300px">
<br>
<br>


<div>
  <h4>Islas Ballestas</h4>
  
  <p>
  Son un conjunto de islas y formaciones rocosas que están ubicados a media hora de la costa de Paracas. Estas islas son el hogar de miles de aves guaneras y especies marinas: lobos marinos, pingüinos de Humboldt, pelícanos, lobos marinos, leones marinos, etc.

  El recorrido por las Islas Ballestas se hace desde la bahía de Paracas, en lanchas. El paseo dura 2 horas: 30 minutos de ida, 1 hora de observación de la fauna (solo desde la lancha porque no está permitido el desembarco) y 30 minutos de retorno.</p>
  <img src="{%static 'WebPayments/img/islasballestas.jpg'%}" class="responsive-img" width="600px" height="300px">
<br>
<br>
</div>




<div>
  <h4>Lago Titicaca, Puno</h4>
  
  <p>El lago Titicaca es el lago navegable más alto del mundo. Es una de las mayores reservas de agua dulce en América del Sur. Está ubicado en la meseta del Collao, entre Perú y Bolivia. Tiene una extensión de 8562 km² y una profundidad de 281 metros. Y según la mitología andina, de las frías y diáfanas aguas de este lago emergieron los fundadores del gran imperio inca.

  En los alrededores de este hermoso lago se desarrollaron las culturas pre incas: Tiahuanaco y Pucará. Y actualmente, muchas costumbres y tradiciones de estos pueblos aborígenes aún perviven en la población local que habita las numerosas islas que se encuentran dentro del lago Titicaca.</p>
<img src="{%static 'WebPayments/img/lagotiticaca.jpg'%}" class="responsive-img" width="600px" height="300px">
<br>
<br>

</div>




<div>
  
 <h4>Parque Nacional de Manu, Madre de Dios</h4>
 
  <p>El Parque Nacional de Manu es un área natural protegida con la mayor diversidad de reptiles, anfibios, mariposas diurnas y aves de todo el planeta. Es Patrimonio Natural de la Humanidad. Es una de las mayores reservas de biósfera en el Mundo. Y fue creado con el fin de catalogar, preservar y dará conocer a la humanidad la herencia natural y cultural de la selva amazónica.

  En la Reserva Nacional del Manu se encuentra la mayor diversidad biológica del planeta. Además, es el hogar de numerosos grupos étnicos: Kugapakori, Nahua, Matsiguenga, Harakmbut, Yine y algunos grupos étnicos que viven en aislamiento voluntario.

  Este entorno natural que abarca la sabana amazónica de la selva baja y los bosques nublados de la selva alta es un sitio turístico ideal para: caminar en la selva virgen, observar abundante flora y fauna en su estado natural, escuchar el gran abanico de sonidos de la naturaleza, conectarte con el entorno natural y encontrarte contigo mismo.</p>
<img src="{%static 'WebPayments/img/manu.jpg'%}" class="responsive-img" width="600px" height="300px">
<br>
<br>

</div>




<div>
  
 <h4>Río Amazonas, Loreto</h4>
 
  <p>El río amazonas es el río más largo y caudaloso de la tierra y una de las mayores reservas de agua dulce del planeta. Nace en las cumbres nevadas de la cordillera de los Andes y recorre más de 7200 kilómetros, atravesando los territorios de Perú, Colombia y Brasil.

  En la cuenca del río Amazonas se desarrollan impresionantes ecosistemas naturales y numerosas comunidades nativas: boras, yahuas, witotos y muchos otros.

  La ciudad de Iquitos es el lugar más privilegiado para apreciar la belleza del río Amazonas. Pues, aquí están ubicados la mayoría de los miradores turísticos, lodges, plataformas flotantes, puentes colgantes y puentes pluviales para navegar por el río Amazonas.</p>
<img src="{%static 'WebPayments/img/rioamazonas.jpg'%}" class="responsive-img" width="600px" height="300px">
<br>
<br>


</div>

<div>

 <h4>Montaña de Colores, Cusco</h4>
 
  <p>La Montaña Sagrada de Vinicunca o Montaña 7 Colores es el segundo destino turístico más visitado de Cusco. Y según el sitio web Business Insider, es uno de 100 viajes que todo el mundo debería hacer una vez en la Vida.

  Está ubicado entre las formaciones montañosas que rodean al nevado Ausangate, en la cordillera de los Andes, a una altitud de 5200 msnm.

  La orogénesis de esta mágica montaña se debe a complejos motivos geomorfológicos y es un claro ejemplo de los efectos del calentamiento global. Pues la montaña surgió producto de la desglaciación.

  En tu viaje a la Montaña de 7 Colores, podrás: percibir las franjas de colores (tonos de morado, verde, amarillo, rosado y otras variaciones) que se distingue en sus cumbres y laderas; observar los impresionantes paisajes andinos que se divisan desde la cima de sus cumbres; y disfrutar de la adrenalina y la aventura en la ruta de trekking más concurrida de Cusco.
<img src="{%static 'WebPayments/img/montaña.jpg'%}" class="responsive-img" width="600px" height="300px">
</p>  

</div>


</body>
</html>
{%endblock%}